* {
    padding: 0;
    margin:0;
    overflow:hidden;
}
.down {
    margin-top: 20px;
}
.main {
    width: 40%;
    background-color: royalblue;
    margin: auto;
    text-align: center;
    padding: 50px 30px;
}
.main span {
    color:#fff;
    margin:5px;
    background-color: black;
    padding: 8px;
    font-size: 30px;
    border-radius: 50%;
}
.spans {
    padding: 20px;
}
button {
    margin-top:50px;
    padding: 10px 40px;
    font-size: 18px;
    background-color: coral;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    text-transform: uppercase;
}
button:hover {
    background-color: yellow;
    transition: 0.3s;
}
.flags  {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    * {
        font-size: 25px;
    }
    .flags {
        width: 90%;
    }
    .main {
        width: 100%;
        padding: 30px 10px;
        height: 100vh;
    }
    .down {
        margin:0;
    }
    .spans {
        margin-top: 10%;
    }
    .main p {
        margin-top: 60%;
    }
}